/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$font1:Segoe UI;
$font2:trebuchet ms;
$font3:'Cormorant Garamond',Garamond, serif;

$color1:#2da8c9;
$color2:#525659;
$color3:#fff;
$color4:#6b6b6b;

$bg1:#2da8c9;
$bg2:#525659;


@mixin round($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin roundSize($size){
  height:$size;
  width:$size;
}

@mixin wrap($width){
  margin:0 auto;
  width:$width;
}

@mixin ease($sec){
  transition:ease all $sec;
  -webkit-transition:ease all $sec;
  -moz-transition:ease all $sec;
  -o-transition:ease all $sec;
  -ms-transition:ease all $sec;
}

/*-----------GLOBAL-------------*/
*{}
#header #navigation ul li a{@include ease(.3s);}
a{
  @include ease(.3s);
}
body{color:#2da8c9;font-family:$font2;font-size:13px;}



a{ color:#555; text-decoration: none;}
a:hover{color: #f05c58;}
input[type="text"]{
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 60px;
  padding: 0 20px;
  font-size: 22px;
  @include round(10px);
}

input:focus{outline-style: none;}

h1{font-size: 67px; font-family:$font2;font-weight: 700;}
h2{font-size: 46px;font-weight: 500;}
h3{font-size: 36px;font-weight: 500;}
h4{}
h5{}
h6{}

/**{transition:ease all .3s;-webkit-transition:ease all .3s;-moz-transition:ease all .3s;-o-transition:ease all .3s;-ms-transition:ease all .3s}*/


/*-----------CUSTOM-------------*/



.clr:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
.clr2{content:'';display:block;height:0;clear:both;visibility:hidden;}
.left{float:left;}
.right{float:right;}


/**------**/




#header{
  background:$bg1;color:$color3;
  #topBar{background:$bg2;height: 56px;}
  .wrap{padding: 70px 0;@include wrap(1300px);}
  #logo{
    width: 200px;
    a{
      img{
        max-width: 100%;
      }
      &:hover{

      }
    }
  }
  #navigation{
    font-family: $font3;font-size: 39px;    margin: 20px 0 0 7%;
    ul{
      li{
        display:inline-block;
        a{
          color:#fff; margin: 0 11px 0 3px;
          &:hover{color:$color2;}
        }
      }
    }

  }
  #hRight{
    width: 270px; margin: 25px 0 0 0;
    input[type="text"]{
      border: solid 1px #fff;
      height: 40px;
      background: url(../images/NXTLVL_WEBDEV_ICON_MAGNIFYING.png) no-repeat 98% center;
      background-size: 24px;
      padding: 0 35px 0 20px;
      box-sizing: border-box;
      color: #fff;
      font-size: 18px;
      @include round(10px);
    }
  }
}







#content{
  .wrap{}
  .conTxt{
    text-align: center;
    font-size: 43px;
    padding: 35px 0 35px 0;
  }
  .formWrap{
    border-top: solid 4px #eaeaea;
    @include wrap(960px);
    .formButtons{
      text-align: center;
      padding: 60px 0;
      ul{
        position: relative;
        li{
          display: inline-block;
          margin: 0 0 0 34%;
          position: relative;
          z-index: 1;
          &:first-child{
            margin-left: 0;
          }
          a{
            border: solid #bfbfbf 12px;
            background: #fff;
            color: #2da8c9;
            padding: 14px 24px;
            display: block;
            font-size: 45px;
            @include round(2000px);
            &:hover{
              background: $color1;
              color: #fff;
            }
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 42px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 10px;
          width: 94%;
          background: #bfbfbf;

        }
      }
    }
    .formDiv{
      padding: 0 0 120px 0;
      .formIn{
        background: #ebebeb;
        padding: 20px 35px 45px 35px;
        .formTitle{}
        .formInputDiv{
          padding: 15px 40px 0 40px;
          .inputDiv{
            margin: 0 0 10px 0;
            label{
              font-size: 28px;
              padding: 0 0 0 10px;
            }
            input[type="text"]{    margin: 5px 0 0px 0;}

          }
          .inputDivHalf{    width: 48.5%;}
        }
      }
      .formSubmit{
        margin: 30px 0 0 auto;
        display: block;
        background: #2da8c9;
        border: none;
        color: #fff;
        font-size: 38px;
        padding: 15px 20px;
        min-width: 260px;
        cursor:pointer;
        @include round(10px);
      }
    }
  }
}


/**------**/



#footer{
  background:#bfbfbf;color:$color3;text-align:center;    font-size: 26px;    padding: 40px 0 30px 0;
  .wrap2{
    @include wrap(960px);
    .ftCirc{
      margin: 0 0 10px 0;
      .circle{
        @include round(1000px);
        background:#fff;height:70px;width:70px;display:inline-block;    margin: 0 18px;
      }
    }
    nav{
      ul{
        li{
          display:inline-block;
          a{
            color:#fff;margin: 0 11px 0 7px;
            &:hover{color:$color2;}
          }

        }
      }
    }
   #copyRight{font-size: 21px;margin: 10px 0 0 0;}
  }
}

/*#mobNav{display:none;}*/

/*-------------------------------*/

@media only screen and (max-width:1300px) {
  .wrap,#header .wrap{width:95%;margin:0 auto;}
  #content .formWrap{width:100%;}
  #header #hRight{    width: 21%;}
  #header #navigation{margin: 20px 0 0 2%;}
  #header #navigation ul li a{    font-size: 29px;}
  #header #logo{    width: 160px;}
  #content .formWrap .formButtons ul:after{width: 80%;}
  #content .formWrap .formButtons ul li{    margin: 0 0 0 31%;}

}

@media only screen and (max-width:979px) {
  #header{position:relative;}
  #header #navigation{    float: right;    margin: 50px 0 0 2%;}
  #header #hRight{    width: 21%;  position: absolute;  right: 20px; top: 50px;}
  #header .wrap{    padding: 20px 0;}
  #footer .wrap2{width:100%;}
  #footer .wrap2 nav ul li{margin: 0 0 8px 0;}
  #footer .wrap2 .ftCirc .circle{@include roundSize(50px);margin: 0 2%;}
  #content .formWrap .formButtons ul:after{width:68%;}
  #content .formWrap .formButtons ul li{    margin: 0 0 0 20%;}

}

@media only screen and (max-width:767px) {
  #header #logo{text-align:center;    width: 210px; display: block; clear: both; float: none;  margin: 0 auto;}
  #header #hRight{    width: 21%;  position: absolute; right: 20px;  top: 7px;  margin: 0;}
  #header #navigation{    margin: 20px 0 0 0;text-align:center;width:100%;}
  #header #hRight{width:200px;}
  #header #navigation ul li a{font-size: 25px;margin: 0 6px 0 0;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDivHalf{width: 100%;}
  #content .formWrap .formDiv .formIn .formInputDiv{padding: 15px 0px 0 0px;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDiv input[type="text"]{height:40px;}
  .formTitle{text-align:center;}
  #content .formWrap .formDiv .formSubmit{    margin: 30px auto 0 auto;}
  #content .formWrap .formButtons ul li{margin: 0 0 0 15%;}
}

@media only screen and (max-width:480px) {
  #header .wrap{padding: 20px 0 5px 0;}
  #header #hRight{width: 200px;left:0;right:0;margin:0 auto;}
  #navigation span{display:none;}
  #header #navigation ul li{display:block;margin:0;}
  #header #navigation ul li a{    display: block; margin: 0; border-top: solid 1px #fff; padding: 8px 0;}
  #header #navigation ul li a:hover{background: #288da9;color:#fff;}
  #content .formWrap .formButtons ul li a{border: solid #bfbfbf 6px;padding: 6px 11px;    font-size: 24px;}
  #content .formWrap .formButtons ul:after{top: 20px;width: 63%; height: 7px;}
  #content .formWrap .formDiv .formIn{    padding: 20px 25px 45px 25px;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDiv label{font-size: 6vw;}
  .formTitle{font-size: 8vw;}
  #footer .wrap2 .ftCirc .circle{@include roundSize(40px);margin:0px;}
  #ftNav{}
  #footer .wrap2 nav ul{padding: 0 0 10px 0;}
  #footer .wrap2 nav ul li{display:block;}
  #footer .wrap2 nav ul li a{font-size: 19px;}
  #ftNav span{display:none;}
  h1{font-size: 14vw;margin:0 0 20px 0;}
  p{    font-size: 8vw;}
  #copyRight p{    font-size: 16px; line-height: 20px;}


          /*#mobNav{    background: #525659; font-size: 25px; padding: 8px 0;position:relative;}
          .mobIcon{left:10px;    top: 0px;position:absolute;}
          .mobIcon div{content:'';display:block;position:absolute;top:9px;width:30px;height:4px;background:#fff;}
          .mobIcon:before{content:'';display:block;position:absolute;top:19px;width:30px;height:4px;background:#fff;}
          .mobIcon:after{content:'';display:block;position:absolute;top:29px;width:30px;height:4px;background:#fff;}*/
}






