/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*-----------GLOBAL-------------*/
/* line 45, ../sass/screen.scss */
body {
  color: #2da8c9;
  font-family: trebuchet ms;
  font-size: 13px;
}

/* line 46, ../sass/screen.scss */
a {
  color: #555;
  text-decoration: none;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}

/* line 47, ../sass/screen.scss */
a:hover {
  color: #525659;
}

/* line 48, ../sass/screen.scss */
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 60px;
  padding: 0 20px;
  font-size: 22px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 58, ../sass/screen.scss */
input:focus {
  outline-style: none;
}

/* line 60, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: trebuchet ms;
}

/* line 61, ../sass/screen.scss */
h1 {
  font-size: 67px;
  font-weight: 700;
}

/* line 62, ../sass/screen.scss */
h2 {
  font-size: 46px;
  font-weight: 500;
}

/* line 63, ../sass/screen.scss */
h3 {
  font-size: 36px;
  font-weight: 500;
}

/*-----------CUSTOM-------------*/
/* line 71, ../sass/screen.scss */
.clr:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 72, ../sass/screen.scss */
.clr2 {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 73, ../sass/screen.scss */
.left {
  float: left;
}

/* line 74, ../sass/screen.scss */
.right {
  float: right;
}

/*-----------HEADER------------*/
/* line 82, ../sass/screen.scss */
#header {
  background: #2da8c9;
  color: #fff;
}
/* line 84, ../sass/screen.scss */
#header #topBar {
  background: #525659;
  height: 56px;
}
/* line 85, ../sass/screen.scss */
#header .wrap {
  padding: 70px 0;
  margin: 0 auto;
  width: 1300px;
}
/* line 86, ../sass/screen.scss */
#header #logo {
  width: 200px;
}
/* line 89, ../sass/screen.scss */
#header #logo a img {
  max-width: 100%;
}
/* line 97, ../sass/screen.scss */
#header #navigation {
  font-family: "Cormorant Garamond", Garamond, serif;
  font-size: 39px;
  margin: 20px 0 0 7%;
}
/* line 100, ../sass/screen.scss */
#header #navigation ul li {
  display: inline-block;
}
/* line 102, ../sass/screen.scss */
#header #navigation ul li a {
  color: #fff;
  margin: 0 11px 0 3px;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}
/* line 104, ../sass/screen.scss */
#header #navigation ul li a:hover {
  color: #525659;
}
/* line 111, ../sass/screen.scss */
#header #hRight {
  width: 270px;
  margin: 25px 0 0 0;
  text-align: right;
}
/* line 113, ../sass/screen.scss */
#header #hRight input[type="text"] {
  border: solid 1px #fff;
  width: 70%;
  height: 40px;
  background: url(../images/NXTLVL_WEBDEV_ICON_MAGNIFYING.png) no-repeat 98% center;
  background-size: 24px;
  padding: 0 35px 0 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 125, ../sass/screen.scss */
#header #hRight input[type="text"]:focus {
  width: 100%;
}

/*-----------CONTENT------------*/
/* line 141, ../sass/screen.scss */
#content .conTxt {
  text-align: center;
  font-size: 43px;
  padding: 35px 0 35px 0;
}
/* line 146, ../sass/screen.scss */
#content .formWrap {
  border-top: solid 4px #eaeaea;
  margin: 0 auto;
  width: 960px;
}
/* line 149, ../sass/screen.scss */
#content .formWrap .formButtons {
  text-align: center;
  padding: 60px 0;
}
/* line 152, ../sass/screen.scss */
#content .formWrap .formButtons ul {
  position: relative;
}
/* line 154, ../sass/screen.scss */
#content .formWrap .formButtons ul li {
  display: inline-block;
  margin: 0 0 0 34%;
  position: relative;
  z-index: 1;
}
/* line 159, ../sass/screen.scss */
#content .formWrap .formButtons ul li:first-child {
  margin-left: 0;
}
/* line 162, ../sass/screen.scss */
#content .formWrap .formButtons ul li a {
  border: solid #bfbfbf 12px;
  background: #fff;
  color: #2da8c9;
  padding: 14px 24px;
  display: block;
  font-size: 45px;
  -webkit-border-radius: 2000px;
  -moz-border-radius: 2000px;
  -ms-border-radius: 2000px;
  border-radius: 2000px;
}
/* line 170, ../sass/screen.scss */
#content .formWrap .formButtons ul li a:hover {
  background: #2da8c9;
  color: #fff;
}
/* line 176, ../sass/screen.scss */
#content .formWrap .formButtons ul:after {
  content: '';
  display: block;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 10px;
  width: 94%;
  background: #bfbfbf;
}
/* line 191, ../sass/screen.scss */
#content .formWrap .formDiv {
  padding: 0 0 120px 0;
}
/* line 193, ../sass/screen.scss */
#content .formWrap .formDiv .formIn {
  background: #ebebeb;
  padding: 20px 35px 45px 35px;
}
/* line 197, ../sass/screen.scss */
#content .formWrap .formDiv .formIn .formInputDiv {
  padding: 15px 40px 0 40px;
}
/* line 199, ../sass/screen.scss */
#content .formWrap .formDiv .formIn .formInputDiv .inputDiv {
  margin: 0 0 10px 0;
}
/* line 201, ../sass/screen.scss */
#content .formWrap .formDiv .formIn .formInputDiv .inputDiv label {
  font-size: 28px;
  padding: 0 0 0 10px;
}
/* line 205, ../sass/screen.scss */
#content .formWrap .formDiv .formIn .formInputDiv .inputDiv input[type="text"] {
  margin: 5px 0 0px 0;
}
/* line 208, ../sass/screen.scss */
#content .formWrap .formDiv .formIn .formInputDiv .inputDivHalf {
  width: 48.5%;
}
/* line 211, ../sass/screen.scss */
#content .formWrap .formDiv .formSubmit {
  margin: 30px 0 0 auto;
  display: block;
  background: #2da8c9;
  border: none;
  color: #fff;
  font-size: 38px;
  padding: 15px 20px;
  min-width: 260px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
}
/* line 223, ../sass/screen.scss */
#content .formWrap .formDiv .formSubmit:hover {
  background: #525659;
}

/*-----------FOOTER-------------*/
/* line 237, ../sass/screen.scss */
#footer {
  background: #bfbfbf;
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding: 40px 0 30px 0;
}
/* line 239, ../sass/screen.scss */
#footer .wrap2 {
  margin: 0 auto;
  width: 960px;
}
/* line 241, ../sass/screen.scss */
#footer .wrap2 .ftCirc {
  margin: 0 0 10px 0;
}
/* line 243, ../sass/screen.scss */
#footer .wrap2 .ftCirc .circle {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px;
  background: #fff;
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 0 18px;
}
/* line 250, ../sass/screen.scss */
#footer .wrap2 nav ul li {
  display: inline-block;
}
/* line 252, ../sass/screen.scss */
#footer .wrap2 nav ul li a {
  color: #fff;
  margin: 0 11px 0 7px;
}
/* line 254, ../sass/screen.scss */
#footer .wrap2 nav ul li a:hover {
  color: #525659;
}
/* line 260, ../sass/screen.scss */
#footer .wrap2 #copyRight {
  font-size: 21px;
  margin: 10px 0 0 0;
}

/*#mobNav{display:none;}*/
/*-------------------------------*/
/*
@media only screen and (max-width:1300px) {
  .wrap,#header .wrap{width:95%;margin:0 auto;}
  #content .formWrap{width:100%;}
  #header #hRight{    width: 21%;}
  #header #navigation{margin: 20px 0 0 2%;}
  #header #navigation ul li a{    font-size: 29px;}
  #header #logo{    width: 160px;}
  #content .formWrap .formButtons ul:after{width: 80%;}
  #content .formWrap .formButtons ul li{    margin: 0 0 0 31%;}

}

@media only screen and (max-width:979px) {
  #header{position:relative;}
  #header #navigation{    float: right;    margin: 50px 0 0 2%;}
  #header #hRight{    width: 21%;  position: absolute;  right: 20px; top: 50px;}
  #header .wrap{    padding: 20px 0;}
  #footer .wrap2{width:100%;}
  #footer .wrap2 nav ul li{margin: 0 0 8px 0;}
  #footer .wrap2 .ftCirc .circle{@include roundSize(50px);margin: 0 2%;}
  #content .formWrap .formButtons ul:after{width:68%;}
  #content .formWrap .formButtons ul li{    margin: 0 0 0 20%;}

}

@media only screen and (max-width:767px) {
  #header #logo{text-align:center;    width: 210px; display: block; clear: both; float: none;  margin: 0 auto;}
  #header #hRight{    width: 21%;  position: absolute; right: 20px;  top: 7px;  margin: 0;}
  #header #navigation{    margin: 20px 0 0 0;text-align:center;width:100%;}
  #header #hRight{width:200px;}
  #header #navigation ul li a{font-size: 25px;margin: 0 6px 0 0;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDivHalf{width: 100%;}
  #content .formWrap .formDiv .formIn .formInputDiv{padding: 15px 0px 0 0px;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDiv input[type="text"]{height:40px;}
  .formTitle{text-align:center;}
  #content .formWrap .formDiv .formSubmit{    margin: 30px auto 0 auto;}
  #content .formWrap .formButtons ul li{margin: 0 0 0 15%;}
}

@media only screen and (max-width:480px) {
  #header .wrap{padding: 20px 0 5px 0;}
  #header #hRight{width: 200px;left:0;right:0;margin:0 auto;}
  #navigation span{display:none;}
  #header #navigation ul li{display:block;margin:0;}
  #header #navigation ul li a{    display: block; margin: 0; border-top: solid 1px #fff; padding: 8px 0;}
  #header #navigation ul li a:hover{background: #288da9;color:#fff;}
  #content .formWrap .formButtons ul li a{border: solid #bfbfbf 6px;padding: 6px 11px;    font-size: 24px;}
  #content .formWrap .formButtons ul:after{top: 20px;width: 63%; height: 7px;}
  #content .formWrap .formDiv .formIn{    padding: 20px 25px 45px 25px;}
  #content .formWrap .formDiv .formIn .formInputDiv .inputDiv label{font-size: 6vw;}
  #content .formWrap .formDiv .formSubmit{min-width:0;}
  .formTitle{font-size: 8vw;}
  #footer .wrap2 .ftCirc .circle{@include roundSize(40px);margin:0px;}
  #ftNav{}
  #footer .wrap2 nav ul{padding: 0 0 10px 0;}
  #footer .wrap2 nav ul li{display:block;}
  #footer .wrap2 nav ul li a{font-size: 19px;}
  #ftNav span{display:none;}
  h1{font-size: 14vw;margin:0 0 20px 0;}
  p{    font-size: 8vw;}
  #copyRight p{    font-size: 16px; line-height: 20px;}


          #mobNav{    background: #525659; font-size: 25px; padding: 8px 0;position:relative;}
          .mobIcon{left:10px;    top: 0px;position:absolute;}
          .mobIcon div{content:'';display:block;position:absolute;top:9px;width:30px;height:4px;background:#fff;}
          .mobIcon:before{content:'';display:block;position:absolute;top:19px;width:30px;height:4px;background:#fff;}
          .mobIcon:after{content:'';display:block;position:absolute;top:29px;width:30px;height:4px;background:#fff;}
}
*/
